/FinalProject/FinalProject/obj/Debug/net6.0/FinalProject.csproj.CoreCompileInputs.cache
/FinalProject/FinalProject/obj/Debug/net6.0/ref/FinalProject.dll
/FinalProject/FinalProject/obj/Debug/net6.0/FinalProject.dll
/FinalProject/FinalProject/obj/Debug/net6.0/FinalProject.GeneratedMSBuildEditorConfig.editorconfig
/FinalProject/FinalProject/bin/Debug/net6.0/FinalProject.pdb
/FinalProject/FinalProject/obj/Debug/net6.0/FinalProject.pdb
/FinalProject/FinalProject/bin/Debug/net6.0/Humanizer.dll
