@page
@model FinalProject.Pages.FormResponseModel
@{
}

<html lang="en">
<head>
    <title>Thank You</title>
</head>
<body class="thankyou">
    <h2 class="center-text">Thank you, your response has been recorded!</h2>
</body>
</html>
